$f: flex;
$c: center;
$cl: column;
$vh: 100vh;
$per: 100%;
$b: bold;
$cv: cover;
$re: relative;
$ab: absolute;
$sp: space-around;
$perhelf: 80%;
$po: "Poppins", sans-serif;
$ro: "Roboto", sans-serif;
$font: "Gilroy";
$n: none;
$padd: 20px 0 20px 0;
$size: 8em;
$color: #13e9de;
$dark: #0b71a4;
$textColor: #3b3b3b;
$h: hidden;
$p: pointer;
$tr: transparent;
$no: no-repeat;